@use"../../index.scss";
.QuotationList{
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  background-color: #f0f0f0;
    width: 310px;
  height: 100vh;
  &__item{
    display: flex;
    justify-content:space-around;
    background-color: #15bf2fc2;
    color: #f0f0f0;
    }
  &__button{
    display: flex;
    justify-content:space-between;
    & button{
      @extend .button;
      letter-spacing: 0;
    }
    
  }
}


/*.QuotationList{
  display: flex;
  background-color: white;
  width: 350px;
  height: 100vh;
  top: 0;
  flex-direction: column;
  margin-left: 100%;
  &__item{
    display: flex;
    justify-content: center,space-around;
  }
}*/